<div class="container">
	<h1>Prepaid SIM Enrollemnt Form</h1>
		<form #newprepaidform = "ngForm" (ngSubmit)="submitData(newprepaidform.value)">
			<div class="form-group" [hidden]='true'>
				<input type="text" class="form-control" name="service" id="sT" ngModel="Prepaid" readonly>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="name" id="fullname" placeholder="Full Name" autofocus ngModel>
			</div>
			<div class="form-group">
				<input type="email" class="form-control" name="email" id="email" placeholder="Email Address" ngModel>
			</div>
			<div class="form-group">
				<label for="date">Date of Birth</label>
				<input type="date" class="form-control" name="dob" id="date" placeholder="Date of Birth" ngModel>
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect2">Gender</label>
				<select class="form-control" id="exampleFormControlSelect2" name="gender" ngModel>
				  <option value="M">Male</option>
				  <option value="F">Female</option>
				  <option value="X">Prefer no to Say</option>
				</select>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="address" id="Address" placeholder="Your address" ngModel>
			</div>
			<input type="submit" value="Submit" class="btn btn-info">
		</form>
</div>
